/* .glyphicon-eye-open{
	margin-top: 33px;
    margin-left: -49px;
} */


.Padding{
    padding: 5%;
}
.skipBtns{
    color:red;
    float: left;
    margin-left:50px;
    margin-top:20px;
    font-size:15px;
    margin-bottom:20px;
}